.slider-container {
  position: relative;
  width: 80%;
  margin: auto;
}

.card-slide {
  padding: 10px;
}

.progress-container {
  height: 5px;
  background: #ddd;
  margin-top: 10px;
}

.progress-bar {
  height: 5px;
  background: #f00;
  transition: width 0.3s ease-in-out;
}
